<launch>
  <arg name="enabled" default="false" />
  <arg name="url" default="ws://10.22.7.190:3000/edge/ros" />
  <arg name="device_id" default="csrpi-001" />
  <arg name="device_token" default="" />
  <arg name="heartbeat_ms" default="5000" />
  <arg name="odom_hz" default="5" />
  <arg name="imu_hz" default="5" />
  <arg name="scan_hz" default="1" />
  <arg name="cmd_repeat_hz" default="10" />
  <arg name="default_hold_ms" default="400" />
  <arg name="reconnect_delay_ms" default="1000" />

  <node if="$(arg enabled)" pkg="csrpi_edge_relay" type="edge_relay.py" name="edge_relay" output="screen">
    <param name="url" value="$(arg url)" />
    <param name="device_id" value="$(arg device_id)" />
    <param name="device_token" value="$(arg device_token)" />
    <param name="heartbeat_ms" value="$(arg heartbeat_ms)" />
    <param name="odom_hz" value="$(arg odom_hz)" />
    <param name="imu_hz" value="$(arg imu_hz)" />
    <param name="scan_hz" value="$(arg scan_hz)" />
    <param name="cmd_repeat_hz" value="$(arg cmd_repeat_hz)" />
    <param name="default_hold_ms" value="$(arg default_hold_ms)" />
    <param name="reconnect_delay_ms" value="$(arg reconnect_delay_ms)" />
  </node>
</launch>
