root = false

[*.{c,h,s}]
charset = utf-8
end_of_line = crlf
indent_style = space
indent_size = 4
insert_final_newline = true

[*.{md,ps1,uvprojx}]
charset = utf-8
end_of_line = lf
insert_final_newline = true

